body {
  width: 100%;
  height: 100%;
  
  background-color: #1d1d1d;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23b1b1b1' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.simon-div h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 3%;
  font-size: 3rem;
  color: #7000f0;
}

.simon-content {
  height: 97vh;
  min-height: 525px;
  width: 100vw; 
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  color: #bdbdbd;
}

.simon-div .info {
  margin: 5px auto 0;
  text-align: center;
}

#highscore {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 2% auto 0;
  color: #7000f0;
}

.simon-div .fa-btn {
  position: relative;
  background-color: transparent; 
  border: none; 
  width: 1.5rem;
  height: 1.5rem;
  color: #e4e4e4;
  font-size: 1.5rem; 
  cursor: pointer; 
}

.simon-div .faIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.game-button-wrapper {
  width: 90vw;
  max-width: 50vh;
  height: 90vw;
  max-height: 50vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  bottom:5%;
}

.simon-div .button {
  height: 40%;
  width: 40%;
  border: 5px solid; 
  border-color:rgba(68, 68, 68, 0.6);
  border-radius: 20%;
  margin: auto;
}

.simon-div [type=button] {
  -webkit-appearance: initial;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 20px auto;
  color: #e4e4e4;
}

.game-icon {
  font-size: 2.5rem
}


/* Footer Styles */
.simon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 1% auto;
  text-align: center; 
}

.simon-footer a {
  color: #7000f0;
}

.simon-footer a:hover {
  color: #a067e2;
}

.simon-div #copyright {
  margin: 0 5px;
  font-size: 1rem;
  color: #bdbdbd; 
}

/* MEDIA QUERIES */
@media screen and (min-height: 1081px) and (orientation: landscape) {
  .simon-div h1 {
    font-size: 3.5rem;
  }

  .game-btn, #highscore, #level-title, .simon-div .info, .game-icon, .simon-div .faIcon {
    font-size: 2rem;
  }
}

@media screen and (min-height: 1441px) and (orientation: landscape) {
  .simon-div h1 {
    font-size: 4.5rem;
  }
  
  .game-btn, #highscore, #level-title, .simon-div .info, .game-icon, .simon-div .faIcon {
    font-size: 3rem;
  }
}


@media screen and (max-height: 1080px) and (orientation: landscape) {
  .simon-div h1 {
    font-size: 2rem;
  }
  
  .game-btn, #highscore, #level-title, .simon-div .info, .game-icon, .simon-div .faIcon {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 840px) and (orientation: portrait) {
  .simon-div h1 {
    font-size: 2rem;
  }
  
  .game-btn, #highscore, #level-title, .simon-div .info, .game-icon, .simon-div .faIcon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .simon-div #copyright, .simon-footer a {
    font-size: 0.7rem;
  }

  .modal h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  .modal p {
    font-size: 0.8rem;
  }

  .modal-footer {
    display: none;
  }
}

@media screen and (max-width: 350px) and (orientation: portrait) {
  .simon-div h1 {
    font-size: 1.5rem;
  }
  
  .game-btn, #highscore, #level-title, .simon-div .info, .game-icon, .simon-div .faIcon {
    font-size: 0.8rem;
  }

  .simon-div .button {
    border: 3px solid;
    border-color:rgba(68, 68, 68, 0.6);
  }

}
